<div class="content-box">
    <nav data-group="primary">
        <a data-tab="landing-page" style="display: none;"></a>
        <a data-tab="license-waller">Waller's Community Use Policy</a>
    </nav>
    <section class="content">
        <div class="tab" data-group="primary" data-tab="landing-page">
            <div style="text-align: center; padding: 2em;">{{localize "NS.LicenseViewer.LandingPageText"}}</div>
        </div>
        <div class="tab" data-group="primary" data-tab="license-waller">
            <div style="padding: 2em;">
                <p>
                    This system for FoundryVTT uses trademarks and/or copyrights owned by a random dude in Winchester, VA, who does not have a formalized use policy (yet).
                    This guy is not planning on charging anybody for use of this content or copyright. This system was built for FoundryVTT by the same guy. Don't think too much about it.
                    He doesn't have anything formalized anywhere (yet). Just have fun. He doesn't care (much).
                </p>
            </div>
        </div>
    </section>
</div>
